.show-ip{
    display: inline-block;
    padding: 15px 20px;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .15em;
    text-decoration: none;
    font-weight: 300;
    background: linear-gradient(90deg, #2ecc71, #27ae60);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10), 0 1px 2px rgba(0, 0, 0, 0.18);
    transition: 0.3s;
    cursor: pointer;
}
.text-center{
    text-align: center;
}
ul{
    list-style: none;
}